:root {
  --border: 1px solid #ddd;
  --box-padding: 10px;
  --box-border-radius: 10px;
}


table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-weight: 550;
  color: #0f0f10fa;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2e59b2fa;
  color: white;
}

.btn {
  text-align: center;
  margin-top: 2rem;
}

button {
  margin: 1rem;
}

.typing-data, .profile {
  width: 70vw;
  margin: auto;
  margin-top: 1rem;
  border: 1px solid #cec7c7b0;
  padding: var(--box-padding);
  border-radius: var(--box-border-radius);
}

h2 {
  padding: 0px 10px;
  font-family: math, Arial, Helvetica, sans-serif;
}


.Test-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avg-speed, .no-of-tests {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.avg-speed p, .no-of-tests p{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background: #15c;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}


.chart-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-bottom: 100px;
}

.chart {
  border: var(--border);
  width: 70vw;
  padding: var(--box-padding);
  border-radius: var(--box-border-radius);
}