.signIn-container {
  background-color: #fdfeff;
  border: 1px solid black;
  height: 350px;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  flex-direction: column;
  min-width: 300px;
  padding: 15px 30px 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-feild {
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
}


.input-feild input{
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 15px;
}

.input-feild i {
  margin-left: 15px;
  color: #9999;
}

p {
  font-family: system-ui;
  font-size: 15px;
  margin-top: 30px;
}

p a {
  text-decoration: none;
  color: royalblue;
}

p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.submit-btn {
  background: #3c00a0;
  color: #fff;
  height: 40px;
  width: 50%;
  border-radius: 20px;
  border: 0;
  outline: 0;
  margin-top: 10px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #3d00a0f1;
}

.invalid-msg {
  margin-top: 30px;
  font-size: medium;
  background-color: #e41a1aba;
  color: rgb(153 27 27 / 1);
  padding: 5px;
  border-radius: 10px;
}

.heading {
  font-size: 1.5rem;
}