:root {
  --spacing: 2% auto 1% auto;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.container {
  height: 87%;
  display: grid;
  grid: auto/ 1fr;
  justify-items: center;
}


.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.text-container {
  height: auto;
  box-sizing: border-box;
  align-items:baseline;
  border: 2px solid black;
  align-items: center;
  padding: 20px 30px;
  width: 60vw;
  margin: var(--spacing);
  background-color: #f6fbff;
  color: black;
  margin-top: 5%;
}


.text-container > span {
  font-size: 1.2rem;
  font-family: Roboto Mono, Arial, sans-serif;
}

.input-box-container {
  margin-top: 5%;
  display: flex;
    align-items: center;
    width: 60vw;
    flex-direction: row;
}

.input-box-container > input {
  height: 30px;
  width: 55vw;
  font-size: larger;
}

.type-again {
  display: block;
  margin-left: auto;
}

#restart-btn {
  font-size: x-large;
  cursor: pointer;
  border: none;
  background: transparent;
}

#restart-btn:hover {
  color: #000000c2;
}

.result-data {
  background-color: #3B5998;
  width: 60vw;
  font-size: x-large;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 10px;
  margin: 10px auto auto 19.7%;
}

.result-data > div {
  color: white;
}


#active {
  color: rgba(172, 255, 47, 0.564);
}

#passive {
  background-color: #f0a3a3;
}